body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 50px;
    background-color: lightskyblue;
    display: inline-block;
    box-shadow: 0px 3px 6px rgb(68, 68, 68);
}

.logo{
    float: left;
    width: 10%;
    height: inherit;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
}
.logo span{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 4px 8px rgb(132, 132, 228);
    font-weight: bold;
}
.links{
    float: left;
    width: 50%;
    height: inherit;
    overflow: hidden;
}
.links ul{
    list-style: none;
}
.links ul li{
    display: inline;
    margin: auto 5px;
    padding: 8px 5px 8px 5px;
    text-align: center;
}
.links ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.links ul li:hover{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
    text-shadow: 0px 2px 0.5px grey;
}
.search{
    float: left;
    width: 20%;
    height: inherit;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
}
.search input{
    width: 100%;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 4px;
    border: none;
}
.search input{
    color: rgb(4, 105, 105);
}
.auth{
    float: right;
    width: 15%;
    height: inherit;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
}
.auth button{
    border: none;
    padding: 5px 8px 5px 8px;
    font-size: 1.1em;
    border-radius: 5px;
}
.auth button:hover{
    color: #fff;
    background-color: rgb(74, 71, 240);
}