/* unvisited link */
a:link {
    color: rgb(255, 115, 1);
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 115, 1);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 0, 0);
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0);
  }