body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(56, 55, 55);
}
.header{
    position: relative;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    overflow: hidden;
    background-color: rgb(51, 56, 70);
}
.logo{
    background-color: rgb(46, 50, 54);
    width: 10%;
    height: 100px;
    text-align: center;
} 
.logo p{
    color: white;
}
.icon{
    width: 70%;
    height: 100px;
    line-height: 60px;
}
.pic{
    position: relative;
    position: absolute;
    width: 10%;
    height: 100px;
    right: 0;
}
.pic img{
    position: absolute;
    right: 0;
    padding-top: 15px;
}
.main{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
.one{
    width: 30%;
    /* background-color: brown; */
    
}
.prot{
    background-color: rgb(121, 121, 121);
    margin-top: 60px;
    padding-left: 5px;
    margin-left: 200px;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(206, 206, 206);
}
.prot p{
    text-align: left;
}
.event{
    background-color: rgb(128, 128, 128);
    padding-left: 5px;
    margin-left: 200px;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(199, 199, 199);
    color: white;
}
.ins{
    background-color: rgb(121, 121, 121);
    padding-left: 5px;
    padding-top: 6px;
    margin-left: 200px;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(206, 206, 206);
}
.ins p{
    display: inline;
    background-color: rgb(145, 143, 143);
    color: white;
    padding: 0px 1px 0px 1px;
}
.hy{
    background-color: rgb(199, 194, 194);
    padding-left: 5px;
    padding-top: 0px;
    margin-left: 200px;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(119, 116, 116);
}
.hy img{
    float: left;
    float: right;
    background-color: rgb(169, 170, 172);
    width: 20px;
    height: 20px;
}
.two{
    width: 40%;
    /* background-color: aqua; */
}
.status{
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(121, 121, 121);
    padding-left: 5px;
    margin-left: 7px;
    margin-top: 60px;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(206, 206, 206);
}
.status p{
    color: rgb(255, 255, 255);
}
.status input{
    width: 400px;
    height: 30px;
    margin-left: 20px;
}
.button{
     background-color: rgb(70, 86, 141);
     color: white;
}
.first{
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(121, 121, 121);
    padding-left: 5px;
    margin-left: 7px;
    margin-top: 20px;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(206, 206, 206);
    padding: 13px 17px 1px 17px;
}
.first sub{
    float: right;
    padding: 2px 4px 1px 1px;
}
.tyty{
    margin-top: 5px;
    background-color: rgb(78, 78, 151);
    color: white;
    width: 200px;
    height: 40px;
}
.tyty img{
    
}
.three{
    width: 30%;

    /* background-color: blue; */
}
.foot{
    width: 100%;
    height: 20%;
    /* border: 1px solid white; */
}
.footone{
    width: 100%;
    height: 10%;
    background-color: darkblue;
}
.foottwo{
    width: 100%;
    height: 10%;
    background-color: darkslategray;
}